.main {
  padding: calc(var(--app-unit-primary) * 2);
}

.container {
  height: 98vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 990px) {
  .container {
    height: 95vh;
  }
}

@media only screen and (max-device-width: 480px) {
  .container {
    height: calc(98vh - 56px);
  }
}

.body {
  overflow-y: scroll;
  padding: 0;
  padding: calc(var(--app-unit-primary) * 2);
  flex-grow: 1;
}

.padded {
  padding: var(--app-unit-primary) calc(var(--app-unit-primary) * 2) 0
    calc(var(--app-unit-primary) * 2);
}

.noMessages {
  text-align: center;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 42px;
  height: 42px;
}

.footer {
  display: flex;
  padding: calc(var(--app-unit-primary) * 2) calc(var(--app-unit-primary) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
