.message {
  display: flex;
  flex-direction: column;
}

.message.hidden {
  margin-bottom: var(--app-unit-primary);
}

.message:not(.hidden) {
  margin-bottom: calc(var(--app-unit-primary) * 2);
}

.message:not(.hidden)::after {
  content: attr(data-name) " on " attr(data-sent);
  display: block;
  margin: var(--app-unit-primary) 0;
  font-size: 0.75rem;
  color: var(--group-message-color);
}

[data-sender="true"] {
  align-items: flex-end;
}

[data-sender="true"] p {
  background-color: var(--app-color-secondary);
  padding: calc(var(--app-unit-primary) * 2);
  border-radius: var(--app-unit-primary);
  max-width: 80%;
}

[data-receiver="true"] {
  align-items: flex-start;
}

[data-receiver="true"] p {
  background-color: var(--app-color-third);
  padding: calc(var(--app-unit-primary) * 2);
  max-width: 80%;
  border-radius: var(--app-unit-primary);
}

.content {
  margin: 0;
  word-break: break-word;
}
